<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Gallery</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="pipe">
                <a href=""><img src="static/arrow.svg" alt=""></a>
            </div>
            <div class="picture">
                <img src="static/" alt="">
            </div>
            <div class="pipe">
                <a href=""><img src="static/arrow.svg" alt="" class="rotate180"></a>
            </div>
        </div>

        <div class="pictureList">THIS IS picture list</div>
    </div>

</body>
</html>