<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Gallery</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="pipe">
                <a href="http://localhost:3000/?imageIndex=<%=previousIndex%>"><img src="static/arrow.svg" alt=""></a>
            </div>
            <div class="picture">
                <img src="<%=currentImageUrl%>" alt="">
            </div>
            <div class="pipe">
                <a href="http://localhost:3000/?imageIndex=<%=nextIndex%>"><img src="static/arrow.svg" alt="" class="rotate180"></a>
            </div>
        </div>

        <div class="pictureList">
            <%for(let i = 1 ; i < pictures.length; i++){%>
                <div class="miniPictures">
                    <img src="static/<%=pictures[i-1]%>" alt="">
                </div>
            <%}%>
        </div>
    </div>

</body>
</html>